default: &default
  adapter: postgresql
  encoding: utf8
  pool: 5
  timeout: 5000
  username:
  password:
  host: localhost

development:
  <<: *default
  database: y_development

test:
  <<: *default
  database: y_test

production:
  <<: *default
  database: y_production
